<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="kr.co.anylogic.gigaeyes360" version="1.0.0">
   <name>Gigaeyes360</name>
   <js-module name="gigaeyes360" src="www/gigaeyes360.js">
      <clobbers target="cordova.plugins.gigaeyes360" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="Gigaeyes360">
            <param name="android-package" value="kr.co.anylogic.gigaeyes360.Gigaeyes360" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml">
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
         <uses-permission android:name="android.permission.WAKE_LOCK" />
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.RECORD_AUDIO" />
         <uses-permission android:name="android.permission.CAMERA" />
      </config-file>
       <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="kr.co.anylogic.gigaeyes360.GigaeyesActivity"></activity>
      </config-file>
      <source-file src="src/android/Camera.java" target-dir="src/kr/co/anylogic/gigaeyes360" />
      <source-file src="src/android/Sphere.java" target-dir="src/kr/co/anylogic/gigaeyes360" />
      <source-file src="src/android/VRVideoView.java" target-dir="src/kr/co/anylogic/gigaeyes360" />
      <source-file src="src/android/Gigaeyes360.java" target-dir="src/kr/co/anylogic/gigaeyes360" />
      <source-file src="src/android/GigaeyesActivity.java" target-dir="src/kr/co/anylogic/gigaeyes360" />
   </platform>
</plugin>